body{
    background-color: #222;
}
.bg-gray{
    background-color: rgb(94, 94, 94);
}
.bg-gray-2{
    background-color: rgb(134, 134, 134);
}
.bg-red{
    background-color: rgb(163, 0, 0);
}
.bg-green{
    background-color: green;
}